{% extends 'base.html' %} {% block body %} {% load static %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>

                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Maize seeds</th>
                                    <th scope="col">marketing_channel</th>
                                    <th scope="col">quantity</th>
                                    <th scope="col">costs</th>
                                    <th scope="col">date</th>
                                    <th scope="col">county</th>
                                    <th scope="col">sub_county</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for markets in market %}
                                <tr>
                                    <th scope="row"><a href="{%url 'update_market' markets.id %}">{{markets.id}}</a>
                                    </th>
                                    <td>{{markets.Maize}}</td>
                                    <td>{{markets.marketing_channel}}</td>
                                    <td>{{markets.quantity}}</td>
                                    <td>{{markets.marketing_cost}}</td>
                                    <td>{{markets.traded_on}}</td>
                                    <td>{{markets.county}}</td>
                                    <td>{{markets.sub_county}}</td>
                                    <td><a href="{% url 'delete_market' markets.id %}">
                                            <div class="icon">
                                                <i class="bi bi-trash"></i>

                                            </div>

                                        </a></td>

                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}