{% extends 'base.html' %} {% block body %} {% load static %}


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>About us</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Blank</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">management</h5>
              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">About us</h5>
              <p>The Greenfarm Maize Crop Management Web Application system is the computer online system project that is intent in
              helping the greenfarm organization in tracing the history of the farmers and the records of their harvest. It will also
              help in guiding the farmers on how the crop is planted and which breed to be grown in their distinct region, location or
              specific area as advised by agriculturalists. The application will also be used in registration of new members and keep
              their records. It will also enable the availability of information about the crop and the organization. The application
              will let the farmer’s access their records and share crop development after planting incase of assistance or any
              outbreak of maize crop diseases.
             </p>
            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}