{% extends 'base.html' %} {% block body %} {% load static %}

<main id="main" class="main">

    <div class="pagetitle">
        {% comment %} <h1>Data Tables</h1> {% endcomment %}
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        {% comment %} <h5 class="card-title">Datatables</h5> {% endcomment %}

                        <table class="table datatable">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">name</th>
                                    <th scope="col">product goods</th>
                                   
                                    <th scope="col">Product</th>
                                    
                                    <th scope="col">qntity (kg/tonnes)</th>
                                    <th scope="col">price(ksh)</th>
                                    
                                    <th scope="col">county</th>
                                    <th scope="col">sub county</th>

                                </tr>
                            </thead>

                            <tbody>
                                {% for buyers in buyer %}
                                <tr>
                                    
                                    <td><a href="{%url 'buyer-update' buyer.id %}">{{markets.seller}}</a></td>
                                    <td>{{buyers.name}}</td>
                                    
                                    <td>{{Buyers.product_goods}}</td>
                                    <td>{{Buyers.county}}</td>
                                    <td>{{Buyers.sub_county}}</td>
                                    <td>{{Buyers.quantity_in_kg_or_tonnes}}</td>
                                    <td>{{Buyers.describe_product}}</td>
                                    <td>{{Buyers.costing}}</td>
                                    
                                    <td><a href="{% url 'buyer-delete' Buyers.id %}">
                                            <div class="icon">
                                                <i class="icon-align-justify"></i> 

                                            </div>

                                        </a></td>
                                        </a></td>

                                </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}