{% extends 'base.html' %} {% block body %} {% load static %}{%load crispy_forms_tags %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1></h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section" style="margin: 4rem;">
        <div class="row">
            <div class="col-lg-12">

                <div class="card" style="margin-right: 2rem;">
                    <div class="card-body">
                        <h5 class="card-title">ENTER TO HOW HARVEST WAS:</h5>

                        <!-- General Form Elements -->
                        <form method="POST" enctype="multipart/form-data">
                            <div class="row mb-3">

                                <div class="col-sm-12">
                                    {% csrf_token %}

                                    <!-- Using the formset -->
                                    {{ form|crispy }}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit Form</button>
                                </div>
                            </div>

                        </form><!-- End General Form Elements -->

                    </div>
                </div>

            </div>


        </div>
    </section>

</main><!-- End #main -->

{% endblock %}